@font-face {
    font-family: "roboto-light";
    src: url(../Assets/fonts/Roboto-Light.woff);
}

@font-face {
    font-family: "roboto-regular";
    src: url(../Assets/fonts/Roboto-Regular\ \(1\).woff2);
}

@font-face {
    font-family: "roboto-medium";
    src: url(../Assets/fonts/Roboto-Medium.woff2);
}

@font-face {
    font-family: "roboto-bold";
    src: url(../Assets/fonts/Roboto-Bold.woff2);
}

@font-face {
    font-family: "roboto-thin";
    src: url(../Assets/fonts/Roboto-Thin.woff2);
}

@font-face {
    font-family: "Merriweather-regular";
    src: url(../Assets/fonts/Merriweather/Merriweather-Regular.woff2);
}

@font-face {
    font-family: "Merriweather-bold";
    src: url(../Assets/fonts/Merriweather/Merriweather-Bold.woff2);
}

@font-face {
    font-family: "Merriweather-black";
    src: url(../Assets/fonts/Merriweather/Merriweather-Black.woff2);
}