:root{
    /*colors*/
    --icons-color: #82B1AF;
    --icons-hover-color: #588D8A;
    --about-color: #ADADAD;
    --projects-color: #666666;
    --thomas-color: black;
    --images-hover-color: rgb(132,169,163,0.8);
    --white: #fff;
    --foter-color: #DDDDDD;
    --body-text-color: #999999;
    --input-label: #A1A1A1;
    --button-color: #333333;
}